{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% include 'includes/stylesheet.html'%}
</head>
<body>
    <body>
        <div class="d-flex align-items-center min-vh-100 py-3 py-md-0">
            <div class="container">
                <div class="card login-card">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'img/ecommerce.png' %}" height="600px" width="100%">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                {% block content %}
                                  
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include 'includes/scripts.html'%}
</body>
</html>