<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">bcommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline ml-auto mr-auto">
      <input class="form-control" id="navSearch" type="search" placeholder="Search" aria-label="Search" size=45>
      <button type="button" id="navSearchBtn" type="submit" class="btn btn-outline-secondary"><em class="bi bi-search"></em></button>
    </form>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign up</a>
      </li>
    </ul>
</nav>