/*Navbar*/
#navSearch{
    border-radius: 6px;
}
nav .navbar-nav li a{
    color: black !important;
}
#navSearchBtn{
    border: none;
}

@media screen and (max-width: 992px) {
  #navSearch{
    width: 90%;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    margin-bottom: 5px;
  }
  #navSearchBtn{
    width: 10%;
  }
  #cartBtn{
    margin-left: 0px !important;
  }
  #dropdownMenuButton{
    width: 100%;
    margin-bottom:5px ;
  }
  .categories{
    font-size: 15px;
  }
}
#navAccount{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#signupNavText{
  display: block;
  font-size: 10px;
}
#loginNavText{
  font-size: 15px;
}
#accountToggle{
  margin-left: 3px;
}
#navAccount .bi-person{
  margin-right: 5px;
  font-size: 25px;
}
#dropdownMenuButton{
  padding: 1px 15px;
}
#cartBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  margin-left:5px;
}
#cartBtn .bi-cart3{
  font-size: 25px;
  margin-right:5px;
}
/*Error Page Css*/
.errorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: aqua;
}
.errorContainer p, .errorContainer h1 {
    font-weight: bolder;
    font-size: 50px;
}
/*Footer*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*Categories Bar*/
.categories{
  background-color: #F7F7F7;
  padding: 10px 0px;

}
.categories .categoriesContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categoriesContainer a{
  color: #646464;
}

